:root {
    --bg-size: 300%
}

#bg {
    display: block;
    z-index: -1;
    position: absolute;
    top: -50%;
    left: -50%;
    width: var(--bg-size);
    height: var(--bg-size);
    overflow: hidden;
    background: linear-gradient(#000, #ccc);
    background-position: center;
    animation-duration: 8s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-name: spin;
    animation-direction: normal;
}

#main_body {
    z-index: 1;
    top: 0;
    left: 0;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-family: sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

#pfp {
    height: 16em;
    width: 16em;
    border-radius: 20px;
}

#main {
    font-weight: bolder;
    text-decoration: underline;
}

#description {
    font-size: 18px;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}